/* Extra Large Screens */
/* @media (min-width:1920) {} */

/* Desktops */
@media (max-width:1919px) {
    /* .hero-section {
        height: 100vh;
    }     */
}

/* Large Tablets */
@media (max-width:1199px) {
    /* body{
        font-size: 90%;
    } */
    .header-section {
        height: 39vh;
    }
    .hero-section {
        height: 34vh;
    }
    .header-section .tnavbar ul li {
        padding: 10px 19px;
    }
    .hero-content h1 {
        font-size: 51px;
    }
    .hero-content h4 {
        font-size: 15px;
        letter-spacing: 0;
    }
    .hero-content h3 {
        font-size: 20px;
    }
    .hero-newslatter form {
        width: 320px;
        height: 44px;
    }
    .hero-newslatter form input:first-child {
        padding: 11px 130px 11px 15px;
    }
    .hero-newslatter form input:last-child {
        top: 6px;
        right: 6px;
        padding: 6px 23px;
    }
    /* About Section */
    .about-section {
        padding: 43px 0;
    }
    /* Service Section */
    .service-section {
        padding: 76px 0;
    }
    .service-section .section-title {
        margin-bottom: 60px;
    }
    .header-section .tnavbar ul li {
        padding: 10px 19px;
    }
    .card-btn {
        font-size: 12px;
    }
    /* Contact Section */
    .contact-section {
        padding: 40px 0;
    }
}


/* Small Tablets */
@media (max-width:991px) {
    .hero-section {
        height: 32vh;
    }
    .header-section .tnavbar ul li {
        padding: 10px;
        font-size: 14px;
    }
    .btn {
        font-size: 13px;
        padding: 8px 20px;
    }
    /* About Content */
    .about-content {
        padding-left: 27px;
    }
    .about-content p {
        line-height: 20px;
        font-size: 13px;
    }
    .section-title {
        font-size: 40px;
    }
    .section-subtitle {
        font-size: 17px;
        margin: 12px 0 24px;
    }

    /* Card Section */
    .card-col {
        padding: 0 9px;
    }
    .card-info {
        line-height: 19px;
        font-size: 13px;
    }
    .btn {
        font-size: 12px;
    }

    /* Footer */
    .footer-section .copyright-info {
        font-size: 13px;
    }
}

/* Extra Small Devices */
@media (max-width:767px) {
    .togglebtn{
        display: block;
        margin-left: 20px;
        font-size: 20px;
        position: absolute;
        right: 40px;
    }
    .header-section .tnavbar {
        padding-top: 15px;
    }
    .main-menu,
    .tnav-icon{
        visibility: hidden;
        pointer-events: none;
    }
    .row {
        flex-wrap: wrap;
    }
    .header-section {
        height: 27vh;
    }
    .hero-section {
        height: 19vh;
    }
    .hero-content h1 {
        font-size: 31px;
        margin: 7px 0px 10px;
    }  
    .hero-content h4 {
        font-size: 12px;
    }
    .hero-content h3 {
        font-size: 15px;
    }
    .hero-newslatter form {
        width: 250px;
        height: 16px;
    }
    .hero-newslatter form input:first-child {
        padding: 9px 124px 9px 13px;
    }
    .hero-newslatter form input:last-child {
        top: 5px;
        right: 7px;
        padding: 6px 20px;
        font-size: 11px;
    }
    .section-title {
        font-size: 33px;
    }
    .about-section .image {
        width: 50%;
        margin: 0 auto;
        border: 5px solid var(--light-white-color);
    }
    .about-content {
        padding-left: 0px;
        padding-top: 46px;
        text-align: center;
    }
    .card-group {
        margin-bottom: 20px;
    }
    .card-group:nth-last-child(){
        margin-bottom: 0;
    }
    .service-section {
        padding: 36px 0;
    }
    .service-section .section-title {
        margin-bottom: 30px;
    }
    .footer-section .copyright-info {
        font-size: 12px;
    }
}

/* Mobile */
@media (max-width:480px) {
    
}

